:root {
    --android-green: #3ddc84;
    --dark-bg: #06080a;
    --card-bg: #161b22;
    --font-pixel: 'Press Start 2P', cursive;
}

body {
    background-color: var(--dark-bg);
    background-image: 
        linear-gradient(rgba(61,220,132,0.05) 1px, transparent 1px),
        linear-gradient(90deg, rgba(61,220,132,0.05) 1px, transparent 1px);
    background-size: 40px 40px;
    color: white;
    font-family: var(--font-pixel);
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */
.header {
    text-align: center;
    padding: 10px;
}

h1 {
    color: var(--android-green);
    font-size: 1.2rem;
    text-shadow: 2px 2px #000;
}

/* TIMELINE */
.timeline-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.timeline-container {
    width: 100vw;
    overflow-x: auto; /* SCROLL HORIZONTAL */
    overflow-y: hidden;
    padding-bottom: 15px;
}

/* SCROLL BAR BONITO */
.timeline-container::-webkit-scrollbar {
    height: 12px;
}

.timeline-container::-webkit-scrollbar-track {
    background: #000;
}

.timeline-container::-webkit-scrollbar-thumb {
    background: var(--android-green);
    border-radius: 10px;
}

.timeline-container::-webkit-scrollbar-thumb:hover {
    background: white;
}

/* LINEA PRINCIPAL */
.timeline-track {
    position: relative;
    width: max-content;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    height: 260px; /* MÁS COMPACTO */
}

.main-line {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 5px;
    background: var(--android-green);
    box-shadow: 0 0 10px var(--android-green);
    transform: translateY(-50%);
}

/* ITEMS */
.timeline-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 40px;
    cursor: pointer;
}

/* ICONOS MÁS PEQUEÑOS */
.icon-box {
    width: 100px;   /* REDUCIDO */
    height: 100px;
    background: var(--card-bg);
    border: 3px solid var(--android-green);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 0px #000;
}

.icon-box img {
    width: 80%;
    image-rendering: pixelated;
}

/* PUNTO */
.dot {
    width: 15px;
    height: 15px;
    background: white;
    border: 3px solid var(--android-green);
    margin: 8px 0;
}

.year {
    color: var(--android-green);
    font-size: 0.7rem;
}

/* MODAL */
.overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.9);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal {
    background: var(--card-bg);
    padding: 20px;
    border: 4px solid var(--android-green);
    max-width: 500px;
    box-shadow: 8px 8px 0 #000;
}

.close-btn {
    cursor: pointer;
    color: red;
}
