:root {
    --android-green: #3ddc84;
    --dark-bg: #06080a;
    --card-bg: #161b22;
    --font-pixel: 'Press Start 2P', cursive;
}

body {
    background-color: var(--dark-bg);
    background-image:
        linear-gradient(rgba(61,220,132,0.05) 1.5px, transparent 1.5px),
        linear-gradient(90deg, rgba(61,220,132,0.05) 1.5px, transparent 1.5px);
    background-size: 40px 40px;
    color: white;
    font-family: var(--font-pixel);
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* TITULO */
.header {
    text-align: center;
    padding: 20px;
}

h1 {
    color: var(--android-green);
    font-size: 2rem; /* MÁS GRANDE */
    text-shadow: 4px 4px #000;
}

/* TIMELINE */
.timeline-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.timeline-container {
    width: 100vw;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 20px;
}

/* Scroll bonito */
.timeline-container::-webkit-scrollbar {
    height: 14px;
}
.timeline-container::-webkit-scrollbar-track {
    background: black;
}
.timeline-container::-webkit-scrollbar-thumb {
    background: var(--android-green);
    border-radius: 5px;
}

/* Pista */
.timeline-track {
    position: relative;
    width: max-content;
    padding: 50px 120px;
    display: flex;
    align-items: center;
    height: 400px;
}

/* LINEA DEL TIEMPO */
.main-line {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 8px;
    background: var(--android-green);
    box-shadow: 0 0 20px var(--android-green);
    transform: translateY(-50%);
    z-index: 1;
}

/* ITEMS */
.timeline-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 70px;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

/* IMAGENES MÁS GRANDES */
.icon-box {
    width: 220px;
    height: 220px;
    background: var(--card-bg);
    border: 4px solid var(--android-green);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 8px 8px 0 black;
}

.icon-box img {
    width: 85%;
    image-rendering: pixelated;
}

/* PUNTO */
.dot {
    width: 20px;
    height: 20px;
    background: white;
    border: 5px solid var(--android-green);
    margin: 15px 0;
}

.year {
    color: var(--android-green);
    font-size: 0.9rem;
}

/* MODAL (VENTANA EMERGENTE) */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    z-index: 99999; /* SUPER IMPORTANTE */
    justify-content: center;
    align-items: center;
}

.modal {
    background: var(--card-bg);
    padding: 25px;
    border: 6px solid var(--android-green);
    max-width: 700px;
    width: 85%;
    box-shadow: 12px 12px 0 black;
    color: white;
}

.close-btn {
    color: red;
    cursor: pointer;
    display: block;
    text-align: right;
    font-size: 0.8rem;
}
