:root {
    --android-green: #3ddc84;
    --dark-bg: #0b0e11;
    --card-bg: #1e2227;
    --font-pixel: 'Press Start 2P', cursive;
}

body {
    background-color: var(--dark-bg);
    color: white;
    font-family: var(--font-pixel);
    margin: 0;
    overflow: hidden; /* Evita scroll vertical */
}

.header {
    text-align: center;
    padding: 30px 0;
}

h1 { color: var(--android-green); font-size: 1.4rem; text-shadow: 3px 3px #000; }

/* AJUSTE DEL SCROLL MÁS ARRIBA */
.timeline-wrapper {
    margin-top: 50px;
    height: 450px; /* Limitamos la altura para que el scroll suba */
}

.timeline-container {
    width: 100vw;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 20px; /* Pegado a las viñetas */
}

/* Diseño de la barra de scroll estilo Minecraft */
.timeline-container::-webkit-scrollbar { height: 14px; }
.timeline-container::-webkit-scrollbar-track { background: #000; }
.timeline-container::-webkit-scrollbar-thumb { 
    background: var(--android-green); 
    border: 3px solid #000;
}

.timeline-track {
    position: relative;
    width: max-content;
    padding: 100px 50px;
}

.items-flex { display: flex; align-items: center; }

.main-line {
    position: absolute;
    top: 50%; left: 0; right: 0;
    height: 8px;
    background: var(--android-green);
    box-shadow: 0 0 15px var(--android-green);
    z-index: 1;
    transform: translateY(-50%);
}

.timeline-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 40px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: 0.2s;
}

.timeline-item:hover { transform: scale(1.1); }

.icon-box {
    width: 80px; height: 80px;
    background: var(--card-bg);
    border: 4px solid var(--android-green);
    display: flex; align-items: center; justify-content: center;
}

.icon-box img { width: 70%; image-rendering: pixelated; }

.dot {
    width: 18px; height: 18px;
    background: white;
    border: 4px solid var(--android-green);
    margin: 15px 0;
}

.year { color: var(--android-green); font-size: 0.7rem; }

/* MODAL */
.overlay {
    display: none; position: fixed; top: 0; left: 0;
    width: 100%; height: 100%; background: rgba(0,0,0,0.9);
    z-index: 1000; justify-content: center; align-items: center;
}

.modal {
    background: var(--card-bg);
    padding: 35px;
    border: 6px solid var(--android-green);
    max-width: 600px; width: 85%;
    box-shadow: 8px 8px 0 #000;
}

.modal h2 { color: var(--android-green); font-size: 0.9rem; margin-bottom: 20px; text-transform: uppercase; }
.modal p { line-height: 2; text-align: justify; font-size: 0.7rem; color: #ccc; }
.close-btn { float: right; color: var(--android-green); cursor: pointer; font-size: 0.6rem; }